<script lang="ts" setup></script>

<template>
  <header class="header">
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <img src="~/assets/img/site-logo-white.png" alt="logo baze">
          <span class="font-fira">Suitbaze</span>
        </div>
        <div class="info">

        </div>
      </div>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
.header {
  width: 100%;
}

.nav {
  width: 100%;
  height: 60px;
  background: $primary;
  box-shadow: 0px 0px 10px #333333;

  display: flex;

  & > .container {
    & > .logo {
      font-size: 1.728em;
      font-weight: 700;
      color: #fff;
      width: fit-content;
    }
  }
}
</style>
