@font-face {
  font-family: 'Fira Mono';
  src: url('/assets/fonts/FiraMono-Regular.woff2') format('woff2'),
      url('/assets/fonts/FiraMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/assets/fonts/FiraMono-Medium.woff2') format('woff2'),
      url('/assets/fonts/FiraMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/assets/fonts/FiraMono-Bold.woff2') format('woff2'),
      url('/assets/fonts/FiraMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
